/*  mobile  */
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .crew-container{
       background: url(../../assets/crew/background-crew-mobile.jpg);
       align-self: center;
    }
    .crew-container h2{
        color:#fff;
        font-size: 20px;
        text-transform: uppercase;
    }
    .crew-container #im{
        margin-top:50px;
        height:250px;
        width: 200px;
    }
    .item-0-crew, .item-1-crew, .item-2-crew, .item-3-crew, .item-4-crew, .item-5-crew {
        text-align: center;
    }
    .item-0-crew, h2 {
        margin: 0;
    }
    .item-3-crew, #im {
        margin-top: 25px;
    }
    .item-1-crew, #role-text {
        color:#ffffff;
        opacity: 0.5;
        text-transform: uppercase;
    }
    .item-2-crew, #firsthead-font{
        color:#fff;
        font-size: 28px;
        margin-top: 10px;
        text-transform: uppercase;
        
    }
    .item-4-crew, button{

        margin-top:30px;
        margin-left: 30px;
        margin-right: 60px;
    }
   
    .item-5-crew, #bio-text{
        margin-top: 40px;
        margin-left:25px;
        margin-right:25px;
        font-size: 16px;
        color:#D0D6F9;
        font-weight: 200;
        text-align: center;
    }
 }
 /*  tablet  */
 @media only screen and (min-device-width: 820px) and (max-device-width: 1023px) {
    .crew-container{
       background: url(../../assets/crew/background-crew-tablet.jpg);
   }

   #items-crew{
    display:flex;
    flex-flow: column;
    text-align: center;
   }
   .item-0-crew, h2{
    float:left;
    color:white;
    text-transform: uppercase;
    
   }
   .item-1-crew{
    margin-top:30px;
   }
    #item-0-crew-num{
    opacity: 0.5;
    display: inline-block;
    margin-right: 20px;
   
   }
   #bio-text{
    order: 4;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color:#D0D6F9;
    font-weight: 100;
   }
   .item-3-crew #im{
    height: 800px;
    width: 600px;
    margin-top: 50px;
   }
   #role-text{
    color:white;
    opacity: 0.5;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
   }
   #firsthead-font{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
   }
   .item-4-crew{
    order: 5;
    margin-right: 80px;
   }
   .item-3-crew{
    order: 6;
   }
   
    }


 

 @media screen and (min-device-width: 1024px) and (max-device-width: 2040px)  {
    .crew-container{
       background: url(../../assets/crew/background-crew-desktop.jpg);
    }

    #items-crew{
        display:grid;
      
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
        
    }
    #bio-text{
        color:#D0D6F9;
        font-size: 30px;
    }
    #firsthead-font{
        color: white;
    }
    #role-text{
        color: white;
    }
    .item-0-crew, h2{
        color:white;
    }
    .item-0-crew, .item-1-crew, .item-2-crew, .item-3-crew, .item-4-crew, .item-5-crew {
        border: 2px solid white;
    }
    .item-0-crew #item-0-crew-num{
        opacity: 0.5;
        display: inline-block;
        margin-right: 20px;
    }
    .item-0-crew {
        text-transform: uppercase;
        
        margin-bottom: 150px;
        margin-top: 90px;
        margin-left: 60px;
        margin-right: 60px;
        /* meet your crew + numb */
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 2;
        grid-column-end: 2;
        
     }

     #role-text{
        font-size: 35px;
        opacity: 0.5;
        font-weight: 100;
        text-transform: uppercase;
     }

     .item-1-crew {
          /*role  */
          margin-left: 60px;
        align-self: end;
        grid-row-start: 2;
        grid-column-start: 1;

        
        grid-row-end: 3;
        grid-column-end: 2;
        
     }
     #firsthead-font{
        color:white;
        font-size: 60px;
     }
     .item-2-crew {
        /* name */
        margin-left: 60px;
        width: 600px;
        align-self: flex-start;
        
        grid-row-start: 3;
        grid-column-start: 1;
     
        grid-row-end: 4;
        grid-column-end: 2;
        
     }
     #im{
        height: 600px;
        width: 350px;
      
     }
     .item-3-crew {
         /* img */
        align-self: center;
         margin-left: 200px;
         margin-right: 240px;
         margin-bottom: 320px;
        grid-row-start: 3;
        grid-column-start: 2;
     
        grid-row-end: 6;
        grid-column-end: 4;
       
        
     }
     .item-4-crew {
        margin-left: 60px;
        /* buttons */
       margin-top: -90px;
        margin-bottom:400px;
        grid-row-start: 5;
        grid-column-start: 1;
     
        grid-row-end: 6;
        grid-column-end: 2;
        
     }
     #bio-text{
        color:#D0D6F9;
        font-size: 30px;
        font-weight: 100;
     }
     .item-5-crew {
        margin-left: 60px;
        margin-bottom:300px;
        margin-top: -190px;
        /* bio-text */
        grid-row-start: 4;
        grid-column-start: 1;
     
        grid-row-end: 5;
        grid-column-end: 2;
     }

     
 
 }


 .crew-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
.crew-container button:first-child {
    opacity: 1;
}
.crew-container button:nth-child(2){
    opacity: 0.5;
}
.crew-container button:nth-child(3){
    opacity: 0.5;
}
.crew-container button:nth-child(4){
    opacity: 0.5;
}

.crew-container button{
    width: 20px;
    height:20px;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;
}
