@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
.header-bar{   
  background: transparent;
  width: 100%;
  position: relative;
  z-index: 999;
  height: 80px;
  }
  .menuicon{
    cursor: pointer;
    float: right;              
    margin-right: 40px;
    background: transparent;
    width: 40px;
    height: 40px; 
    position: relative;  
    margin-top: 20px;
    display:none;
  }
  .bars{
    content: " ";
    background: #fff;
    color: black;
    width: 30px;
    height: 2px;
    position: absolute;
    line-height: 80px;
    top: 20px;
    }
    .bars:before{
    content: " ";
    background: #fff;
    color: black;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 8px;
    }
      .bars:after{
    content: " ";
    background: #fff;
    color: black;
    width: 30px;
    height: 2px;
    position: absolute;
    top: -8px;
    }
    #toggle-btn:checked ~ .menuicon .bars{
      background: rgba(208, 214, 249,0.2);
       }
     #toggle-btn:checked ~ .menuicon .bars:before{
       transform: rotate(45deg);
       top: 0;
       }
      #toggle-btn:checked ~ .menuicon .bars:after{
       transform: rotate(-45deg);
       top: 0;
       }
   

          .menu ul{
            flex-direction: column;
            width: 100%;
     
            position: relative;
            display: none;
            top:50px;
            height: 100%;
            list-style: none;
            margin-bottom: 200px;
            
          }
            .menu ul li{
              margin: 5px 25px;
              }
              .menuicon{display: block;}
        
          #toggle-btn:checked ~ .menu ul{
          display: block;
        }
        .menuicon{
            left: 5%;
        }    
        .menu li{
          text-align: center;
          padding-top:40px;
          
        }
        .menu 
       
  p{
    display: inline-block;
  }
  .bg-menu{
    background-color: rgba(208, 214, 249,0.2);
  }

}


/*  TABLET  */
@media only screen and (min-device-width: 820px) and (max-device-width: 1023px) {
  .header-bar{   
    background: transparent;
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 80px;
    margin-top:62px
  
    }

    .menu ul{
      display: flex;
      background-color:rgba(208, 214, 249,0.2);
      flex-direction: row;
      float:right;
      list-style: none;
      line-height: 5rem;
      
      }
      .menu ul li{
        margin: 0 10px;
        }
        .menu ul li a{
          font-size: 17px;
          color: #D0D6F9;
          text-decoration: none;
          }

      .menu ul li p{
        display:none;
      }
  
}



.active_tab{
  border-bottom: 3px solid #D0D6F9;
  line-height: 1em;
  padding-bottom:1.2em;
}

  .logo{
    line-height: 80px;
    font-size: 21px;     
    float: left;
    margin-left: 20px;
  }
  
 
       .menu ul li{
      margin: 0 20px;
      }
      .menu ul li a{
        font-size: 20px;
        color: #D0D6F9;
        text-decoration: none;
        } 
        .menu ul li a:hover{
          color:#fff;
        }
          #toggle-btn{
            display: none;
          }
         


       
          
        