
.header-bar{   
  background: transparent;
  width: 100%;
  position: relative;
  z-index: 999;
  height: 80px;

  }

.hor-line-nav{
  color: white;
  margin-top: 45px;
  width: 48%;
  margin-left: 150px;
}
.active_tab{
  border-bottom: 4px solid #D0D6F9;
  line-height: 1em;
  padding-bottom:30px;
}
  .logo{
    line-height: 80px;
    font-size: 21px;     
    float: left;
    margin-left: 20px;
  }
  .menu ul{
      display: flex;
      flex-direction: row;
      background-color: rgb(208, 214, 249,0.2);
      padding-right:120px;
      margin-bottom: 20px;
      margin-top: -55px;
      float: right;
      list-style: none;
      line-height: 75px;
      }
      .menu ul li{
      margin: 0 20px;
      }
      .menu ul li p{
        display:inline;
      }
      .menu ul li a{
        font-size: 20px;
        color: #D0D6F9;
        text-decoration: none;
        }
        .menu ul li a:hover{
          color:#fff;
        }
          #toggle-btn{
            display: none;
          }
          .menuicon{
            cursor: pointer;
            float: right;              
            margin-right: 40px;
            background: transparent;
            width: 40px;
            height: 40px; 
            position: relative;  
            margin-top: 20px;
            display: none;
          }
          .bars{
            content: " ";
            background: #fff;
            color: black;
            width: 30px;
            height: 2px;
            position: absolute;
            line-height: 80px;
            top: 20px;
            }
            .bars:before{
            content: " ";
            background: #fff;
            color: black;
            width: 30px;
            height: 2px;
            position: absolute;
            top: 8px;
            }
              .bars:after{
            content: " ";
            background: #fff;
            color: black;
            width: 30px;
            height: 2px;
            position: absolute;
            top: -8px;
            }
            #toggle-btn:checked ~ .menuicon .bars{
              background: transparent;
               }
             #toggle-btn:checked ~ .menuicon .bars:before{
               transform: rotate(45deg);
               top: 0;
               }
              #toggle-btn:checked ~ .menuicon .bars:after{
               transform: rotate(-45deg);
               top: 0;
               }


@media only screen and (min-device-width:1024px) and (max-device-width:1439px){
  .menu ul{
    display: flex;
    flex-direction: row;
    background-color: rgb(208, 214, 249,0.2);
    padding-right:10px;
    margin-top: -55px;
    float: right;
    list-style: none;
    line-height: 75px;
    }
    .hor-line-nav{

      color: white;
      margin-top: 45px;
      width: 35%;
      margin-left: 110px;
    }
}

/* tablet nav  */
@media only screen and (min-device-width: 820px) and (max-device-width: 1023px) {
  .header-bar{   
    background: transparent;
    width: 100%;
    position: relative;
    z-index: 999;
    margin-bottom:50px;
    height: 80px;
  
    }
    .hor-line-nav{
      display: none;
    }
  
  .active_tab{
    border-bottom: 4px solid #D0D6F9;
    line-height: 1em;
    padding-bottom:30px;
  }
    .logo{
      line-height: 80px;
      font-size: 21px;     
      float: left;
      margin-left: 20px;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        background-color: rgb(208, 214, 249,0.2);
        padding-right:80px;
        padding-bottom: 2px;
        float: right;
        padding-top:2px;
        list-style: none;
        line-height: 80px;
        }
        .menu ul li{
        margin: 0 8px;
        }
        .menu ul li p{
          display:inline;
        }
        .menu ul li a{
          font-size: 20px;
          color: #D0D6F9;
          text-decoration: none;
          }
          .menu ul li a:hover{
            color:#fff;
          }
            #toggle-btn{
              display: none;
            }
            .menuicon{
              cursor: pointer;
              float: right;              
              margin-right: 40px;
              background: transparent;
              width: 40px;
              height: 40px; 
              position: relative;  
              margin-top: 20px;
              display: none;
            }
            .bars{
              content: " ";
              background: #fff;
              color: black;
              width: 30px;
              height: 2px;
              position: absolute;
              line-height: 80px;
              top: 20px;
              }
              .bars:before{
              content: " ";
              background: #fff;
              color: black;
              width: 30px;
              height: 2px;
              position: absolute;
              top: 8px;
              }
                .bars:after{
              content: " ";
              background: #fff;
              color: black;
              width: 30px;
              height: 2px;
              position: absolute;
              top: -8px;
              }
              #toggle-btn:checked ~ .menuicon .bars{
                background: transparent;
                 }
               #toggle-btn:checked ~ .menuicon .bars:before{
                 transform: rotate(45deg);
                 top: 0;
                 }
                #toggle-btn:checked ~ .menuicon .bars:after{
                 transform: rotate(-45deg);
                 top: 0;
                 }

                #nav-bar-num{
                display: none;  
                }
  
  



}

          /*--- Media Query -----*/
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
            
            .menu ul{
              padding-top: 120px;
              padding-left: 180px;
              
              width: 100%;
              position: fixed;
              min-height: 100vh;
              display: none;
            }
            .hor-line-nav{
              display: none;
            }
          
            .change_nav_background{
            background-color: rgb(208, 214, 249,0.2);
            }
            .menu ul li{
                margin: 5px 25px;
                
                }
                .menuicon{display: block;}
         
            #toggle-btn:checked ~ .menu ul{
            display: block;
          }
          .menuicon{
              left: 7%;
          }    
          .menu ul li p{
            display: inline;
            padding-right: 20px;
            font-weight: bold;
          }
       
        }

          
          
        