 .home-container{
    background: url(../../assets/home/background-home-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
    color:#ffffff;
    font-weight: bold;
    font-size: 50px;
}
#exp-btn{
    text-decoration: none;
    align-items: center;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    color:#0B0D17;
    font-size: 28px;
    transition: all 0.5s;
}

#exp-btn:hover{
    transform:scale(1.5);
    opacity:0.5;
    
}
.angry-grid {
    display: grid; 
    grid-template-rows: 1fr 1fr  1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    height: 100%;
    align-items: center;

    
 }
   
 #item-0 {
 
    grid-row-start: 1;
    grid-column-start: 2;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    text-transform:uppercase;
    letter-spacing: 4.75;
    grid-row-end: 2;
    grid-column-end: 3;

 }

 #item-1 {
 
    grid-row-start: 2;
    grid-column-start: 2;
    
    grid-row-end: 3;
    grid-column-end: 4;
    
 }
 #item-1 h1{
    font-size: 150px;
 }
 #item-2 {
 
    grid-row-start: 3;
    grid-column-start: 2;
 
    grid-row-end: 5;
    grid-column-end: 4;
    
 }
 #item-3 {
 
    grid-row-start: 3;
    grid-column-start: 4;
 
    grid-row-end: 5;
    grid-column-end: 6;
    
 }