/* mobile css */
@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
   .home-container{
      background: url(../../assets/home/background-home-mobile.jpg);
      align-self: center;
   }
   .home-container #spc{
    font-size:18px;  
   }
   .angry-grid {
      display: grid; 
      grid-template-rows: 1fr  1fr  1fr;
      grid-template-columns: 1fr 1fr 1fr;
      color:white;
      height: 100%;
      position: relative;
      
   }
   #item-1 {
 
      grid-row-start: 2;
      grid-column-start: 2;
      grid-row-end: 3;
      grid-column-end: 4;
   }
  
}
@media screen and (min-device-width: 1024px) and (max-device-width: 2040px)  {
   .home-container{
      background: url(../../assets/home/background-home-desktop.jpg);
   }

}
@media only screen and (min-device-width: 820px) and (max-device-width: 1023px) {
   .home-container{
      background: url(../../assets/home/background-home-tablet.jpg);
   }
}
.home-container{

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    color:#ffffff;
    font-weight: bold;
    font-size: 50px;
}
#exp-btn{
    text-decoration: none;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 190px;
    width: 190px;
    color:#0B0D17;
    font-size: 28px;
    transition: all 0.5s;
}

#exp-btn:hover{
    transform:scale(1.5);
    opacity:0.5;
    
}
/*  grid  */
.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   
   gap: 0px;
   height: 100%;

   
}
  
#item-0 {

   background-color: #D8C589; 
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   
}
#item-1 {

   background-color: #6db7bc; 
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}
#item-2 {

   background-color: #8b9fd5; 
   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 5;
   grid-column-end: 2;
   
}