@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .technology-container{
       background: url(../../assets/technology/background-technology-mobile.jpg);
        }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr minmax(auto);
        grid-gap:1em;
       justify-content:center;

    }
    .title-tab-tech h2{
        text-align:center;
    }
    .title-tab-tech p{
        display:inline;
        color:grey;
    }
  
    .number-button-tech{
        text-align:center;
    }
    .description-tab-tech h3,h4{
        font-size:2.5em;
        text-align:center
    }
    
    
    
 }
 @media screen and (min-device-width: 1024px) and (max-device-width: 2040px)  {
    .technology-container{
       background: url(../../assets/technology/background-technology-desktop.jpg);
    }
 
 }
 @media only screen and (min-device-width: 820px) and (max-device-width: 1023px) {
    .technology-container{
       background: url(../../assets/technology/background-technology-tablet.jpg);
    }
 }

.technology-container{
    color:#D0D6F9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}



.technology-container button:first-child {
    background-color: #fff;
    color:black;
}
.technology-container button{
    display:inline-block;
    width:35px;
    height:35px;
    border: 2px solid #f5f5f5;
    color: #fff;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    background: transparent;
    box-shadow: 0 0 3px gray;
    margin: 2%;
    
}
.tech-button-active{
background-color: #fff;
color:black;
height: 40px;

}

.technology-container h3{
    color:#fff;
}

.technology-container p{
    padding:2px;
    margin: 2px;
    width: 500px;
}