body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media only screen and (max-width: 480px) {
body{
  background-image: url('../src/pics/image-space-capsule-portrait.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
}



@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
body{
    background-image: url('../src/pics/image-space-capsule-portrait.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  }
  
body{
  background-image: url('../src/pics/background-home-desktop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}
  

